html, body {
	background-color: black;
	background: linear-gradient(white, #ffffff);
	background-repeat: no-repeat;
 	background-size: 100vw 100vh;
}

#visual {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}